In [1]:
import Levenshtein
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'col1':['hi budy','hello','code','programming'],
                  'col2':['hey budy','hello','progra','coding']})

def text_similarity(str1,str2):
    distance = Levenshtein.distance(str1,str2)
    similarity = 100 - ((distance / max(len(str1),len(str2)))) * 100
    return similarity

# str1 = "hello world"
# str2 = "hellow worlds"


df['similarity'] = df.apply(lambda x:text_similarity(x['col1'],x['col2']),axis=1)
print(df)

          col1      col2  similarity
0      hi budy  hey budy   75.000000
1        hello     hello  100.000000
2         code    progra   16.666667
3  programming    coding   36.363636

# Load manually and get_code file data :)

In [3]:
manual_df = pd.read_csv('Mannual_Resume40.csv')
code_df = pd.read_csv('sort_40resume.csv')

M_namemanual = manual_df.Name
c_namemanual = code_df.Name

manual_df.Name

0          Jessica Domineck
1        CHRISTINE M NELSON
2         Analecia Moore \n
3             Ashley Goupee
4           Ashley O’Toole
5          Brandi Ann Shady
6               CAROL JAMES
7         CAROLINA NARBUTAS
8           CECILIA MORALES
9       Christine Colangelo
10            Daniel Nyhuis
11     Shaina T. Karpinski
12             DREW MENDEZ
13           Elizabeth Cuty
14    Aracelis Claudio Diaz
15            Idalis Braddy
16              Jack Little
17               Joey Payne
18          Kasandra Abbott
19         Kassandra Diaz\n
20              Lisa Wilson
21             Lleyni Perez
22           PAMELA RANDHAN
23              Alice Brown
24             Donna DiRoma
25              BETSY LABOY
26            Carol M. Cobb
27             Sandi Barlow
28        Valentina Sanders
29            Kelly Murnane
30          NATALIE DEMELLO
31      Christine Thermilus
32         Jennifer O'Neil
33            Daniel Nyhuis
34               Sara Lopez
35          Shawn Findlater
36           Teresa Fogarty
37             William Feis
38         Yajaira Mercedes
Name: Name, dtype: object

In [4]:
# createa new_skill_df 
#M_name_df = M_name_df.sort_values(by=['Name'], ascending=True)
#C_name_df = C_name_df.sort_values(by=['Name'], ascending=True)

M_name_df = pd.DataFrame(M_namemanual)
C_name_df = pd.DataFrame(c_namemanual)

M_name_df['Code_Name'] = C_name_df


#M_name_df

In [9]:
# make dataframe manual and code data
M_namemanual = manual_df.Skills
c_namemanual = code_df.Skills

def create_df(m=M_namemanual,c=c_namemanual):
    M_name_df = pd.DataFrame(m)
    C_name_df = pd.DataFrame(c)
    M_name_df['Code_Skills'] = C_name_df
    return(M_name_df)
out = create_df()

In [10]:
# cosine similarity function

out

,Skills,Code_Skills
0,"Proficient in MS Office 2010,Proficient in Wi...","['protection', 'hiring', 'office', 'd', 'train..."
1,"Proficient in QuickBooks, Proficient in Micro...","['office', 'time management', 'pest', 'sheets'..."
2,NaN,"['office', 'reliability', 'studio', 'time mana..."
3,"Advanced in Microsoft office tools (Excel, Wor...","['Type 50-80 wpm', 'Advanced in Microsoft offi..."
4,"Experienced in - Word, Excel, Outlook, PowerPo...",NaN
5,"Microsoft Word,Microsoft Excel,Microsoft Powe...","['travel', 'conducting', 'accounts payable', '..."
6,NaN,"['organization', 'strong leader ship', 'Good C..."
7,"Microsoft Office,Quickbooks","['Reliable', ' punctual and honest person', 'G..."
8,"MS Windows ,Criminal law,Estates Wills & Trus...","'Â· MS Windows proficient', 'Â· Fluent in Span..."
9,"Types 80 WPM,,Microsoft- Word, Excel, Office,...","['â— Types 80+ WPM', 'â— Received 17 Certifi..."
10,"Proficient with computers and POS systems,Typ...","['prescription', 'pos', 'teamwork', 'order pro..."
11,"Mds, lytec Availity, Microsoft Word, Excel an...","['lytec', 'office', 'customer service skills',..."
12,Microsoft; Powerpoint Outlook; Excel; Microso...,"['typing', 'mar', 'training', 'phone etiquette..."
13,"QuickBooks Pro, Windows, Microsoft Office, Exc...","['& Abilities', 'QuickBooks Pro', ' Windows', ..."
14,"Microsoft: Word, PowerPoint, & Outlook,Make e...","['Recruitment', 'Â· Responsible for preparing ..."
15,NaN,NaN
16,"Windows (XP thru 10) ,Windows Server ,Microso...",NaN
17,"Office Management,,Database Administration ,H...","'Â· Office :', 'Â· Office Management', 'Â· Dat..."
18,"Microsoft Office,Microsoft Outlook","'Excel (2 years)', ' Microsoft Office (2 years..."
19,NaN,"'Used', 'Customer service', ' time management'"
20,"Microsoft Office,Filing/Editing,\nMicrosoft Wi...","'Microsoft Office Filing/Editing', 'Microsoft ..."
21,"40 wpm, Microsoft Word, Microsoft Excel, and AMI","': 40 wpm', ' Microsoft Word', ' Microsoft Exc..."
22,"Proficient in Microsoft Office Suite (Word, Ex...","'accounts payable', 'office', 'd', 'customer s..."
23,Customer Service,'Customer Service'
24,NaN,"'Customer Relations', 'Computer Literate', 'Mu..."
25,NaN,"'Faxing documents', 'Scheduling and calendar m..."
26,NaN,"'presentations', 'change management', 'mastery..."
27,"Supervise inside/outside personnel, accounts r...","'& Abilities', 'Supervise inside/outside perso..."
28,"Certified Public Accountant,Proficient and flu...","'and abilities', ' Certified Public Accountant..."
29,"Rental Assistant,Government Administration/Sup...",NaN
30,"Friendly,Organize,Experience with house keepin...","'Friendly', 'Organized'"
31,Great communication skills (verbal & written) ...,"'saint', 'reading comprehension', 'basic', 'wo..."
32,NaN,"'hiring', 'studio', 'portraits', 'shipping', '..."
33,"Customer service experience, including face-to...","'vast', 'prescription', 'pos', 'teamwork', 'or..."
34,NaN,"'saint', 'writing', 'go', 'workspace', 'salads..."
35,"Excellent written, typing, and communication s...","'â€¢ Proficient in Windows', ' Internet and MS..."
36,Experienced customer service and collections s...,'Summary:'
37,NaN,"'testing', 'conducting', 'investigation', 'off..."
38,"Microsoft Word, Excel, Spreadsheet, Introducti...","'bookkeeping', 'dispatching', 'office', 'dynam..."

In [11]:

str1 = out.Skills
str2 = out.Code_Skills

def text_similarity(str1,str2):
    distance = Levenshtein.distance(str1,str2)
    similarity = 100 - ((distance / max(len(str1),len(str2)))) * 100
    return similarity
text_similarity(str1,str2)


# M_name_df['similarity'] = M_name_df.apply(lambda x:text_similarity(x['Name'],x['Code_Name']),axis=1)
# # print(M_name_df)

2.564102564102569